@media only screen and  (max-width: 1199px)
{

}

/* Screens 768px to 991px wide (phones in landscape mode, small tablets) */
@media only screen and (max-width: 991px) {
    header {
        flex-direction: column;
    }

    header > * {
        padding: 10px 0px; 
    }

    .photos {
        grid-template-columns: 1fr 1fr;
    }
}

/* up to 767px wide (phones in portrait mode) */
@media only screen and (max-width: 767px) {
    #photo_popup {
        grid:
            "a"
            "b";
        }
}