- var title = "Seth Lunders | Photos";

doctype html 
html(lang="en")
    include _includes/head.pug
    body 
        include _includes/header.pug
        main.home 
            //- section.hero 
            section.photos
                each photo in Object.keys(photoData)
                    //- - console.log(photo)
                    img(src=`${photosPath}/${photo}`, alt="", photoname=photo)
                //- div.photo_placeholder
                    //- h2 ...
            //- console.log(photosData) 
            section.popup.hide
                div#photo_popup
                    img(src="", alt="")
                    div.photo_info
                        div
                            h2 Title 
                            p Description
                        div.buttons
                            button Back
                            button Next
                            button Close

        script(src="js/home.js") 
        //- _includes/footer.pug